<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TemanBisnis</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/upalette.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container-fluid bg-ni-kar text-white p-0 mb-3 sticky-top">
        <div class="container px-0 py-1">
            <div class="d-flex align-items-center">
                <div class="fs-4">
                    <a href="index.html" class="text-white text-decoration-none">
                        TemanBisnis
                    </a>
                </div>
                <div class="d-flex flex-fill p-2 mx-2 align-items-center">
                    <input class="form-control flex-fill rounded-0 rounded-start border" type="text" name="" id="">
                    <button class="btn btn-outline-light rounded-0 rounded-end border-start-0">
                        <i class="bx bx-search"></i> Search
                    </button>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="#">
                        <button class="btn btn-outline-light fs-6 mx-1 rounded-0 border-0 border-bottom border-2">
                            Home
                        </button>
                    </a>
                    <a href="#">
                        <button class="btn btn-outline-light fs-6 mx-1 rounded-0 border-0 border-bottom border-2">
                            Home
                        </button>
                    </a>
                    <a href="#">
                        <button class="btn btn-outline-light fs-6 mx-1 rounded-0 border-0 border-bottom border-2">
                            Home
                        </button>
                    </a>
                    <a href="/auth">
                        <button class="btn btn-outline-light fs-6 mx-1 rounded-0 border-0 border-bottom border-2">
                            Log In
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 mb-2">
        <div class="container p-0 position-relative">
            <div class="d-flex position-absolute h-100 w-50 p-5 justify-content-start align-item-center" style="z-index: 100;">
                <span class="align-self-center">
                    <span class="d-block fs-1">
                        Kembangkan bisnis Anda
                    </span>
                    <span class="d-block fs-5">
                        TemanBisnis akan membantu Anda mengembangkan bisnis Anda
                    </span>
                </span>
            </div>
            <img class="img-fluid position-relative" src="https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Laptop-Go-2-01-M01:VP5-1920x600" alt="">
        </div>
    </div>
    <div class="container-fluid p-0 my-3">
        <div class="container p-0 position-relative">
            <div class="row row-cols-1 row-cols-md-2 m-0 text-center">
                <div class="col">
                    <span class="d-block display-3 fw-bold">
                        2500
                    </span>
                    <span class="d-block fs-4">
                        Bisnis Terdaftar
                    </span>
                </div>
                <div class="col">
                    <span class="d-block display-3 fw-bold">
                        2500
                    </span>
                    <span class="d-block fs-4">
                        Bisnis Terdaftar
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 mb-3">
        <div class="container p-0 position-relative">
            <div class="">

            </div>
        </div>
    </div>
    <div class="container-fluid p-0 mb-3">
        <div class="container p-0 position-relative">
            <div class="row row-cols-1 row-cols-md-3 m-0">
                <div class="col p-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fs-1 p-2 py-1 bg-mu-um w-100 text-center text-white fw-bold">
                            Free Tier
                        </div>
                        <div class="d-flex flex-column bg-light align-items-center w-100">
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Jumlah Bisnis
                                </span>
                                <span>
                                    1
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Penyimpanan Transaksi
                                </span>
                                <span>
                                    3 Bulan
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Bantuan
                                </span>
                                <span>
                                    Tidak Ada
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Prediksi Penjualan
                                </span>
                                <span>
                                    3 Bulan
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fs-1 p-2 py-1 bg-mu-um w-100 text-center text-white fw-bold">
                            Free Tier
                        </div>
                        <div class="d-flex flex-column bg-light align-items-center w-100">
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Jumlah Bisnis
                                </span>
                                <span>
                                    3
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Penyimpanan Transaksi
                                </span>
                                <span>
                                    12 Bulan
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Bantuan
                                </span>
                                <span>
                                    Tidak Ada
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Prediksi Penjualan
                                </span>
                                <span>
                                    3 Bulan
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-5">
                    <div class="d-flex flex-column align-items-center">
                        <div class="fs-1 p-2 py-1 bg-mu-um w-100 text-center text-white fw-bold">
                            Premium
                        </div>
                        <div class="d-flex flex-column bg-light align-items-center w-100">
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Jumlah Bisnis
                                </span>
                                <span>
                                    5
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Penyimpanan Transaksi
                                </span>
                                <span>
                                    Unlimited
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Bantuan
                                </span>
                                <span>
                                    Full
                                </span>
                            </div>
                            <div class="d-flex w-100 justify-content-between fs-5 px-3 py-1 mb-1">
                                <span>
                                    Prediksi Penjualan
                                </span>
                                <span>
                                    Unlimited
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block bg-dark mt-5" style="height: 30vh;">

    </div>
</body>

<script>
</script>

</html>