<div class="container-fluid bg-dark sticky-top">
    <div class="container p-2">
        <div class="d-flex flex-column flex-md-row text-white align-items-center">
            <div class="d-flex flex-fill flex-md-wrap justify-content-between ">
                <div class="fs-4">
                    Nofly
                </div>
                <button class="btn btn-outline-light fs-6 collapsed d-md-none" data-bs-toggle="collapse" data-bs-target="#nav-links">
                    Show
                </button>
            </div>
            <div class="d-flex flex-fill justify-content-end align-items-center flex-column flex-md-row collapse" id="nav-links">
                <a href="#">
                    <button class="btn btn-outline-light rounded-0 border-0 border-bottom fs-6 me-2">
                        Dashboard
                    </button>
                </a>
                <a href="#">
                    <button class="btn btn-outline-light rounded-0 border-0 border-bottom fs-6 me-2">
                        My Devices
                    </button>
                </a>
                <a href="#">
                    <button class="btn btn-outline-light rounded-0 border-0 border-bottom fs-6 me-2">
                        Register Device
                    </button>
                </a>
                <a href="#">
                    <button class="btn btn-outline-light rounded-0 border-0 border-bottom fs-6">
                        Log Out
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>