<div class="container bg-dark p-0 fixed-bottom d-md-none">
    <div class="row row-cols-4 m-0">
        <div class="col p-0 border-end border-secondary">
            <a href="/my/dashboard" class="w-100">
                <button class="btn btn-outline-light border-0 rounded-0 w-100">
                    <i class="bi bi-speedometer fs-1 d-block text-center"></i>
                    <span class="fs-6">
                        Dashboard
                    </span>
                </button>
            </a>
        </div>
        <div class="col p-0 border-end border-secondary">
            <a href="/my/devices" class="w-100">
                <button class="btn btn-outline-light border-0 rounded-0 w-100">
                    <i class="bi bi-device-ssd fs-1 d-block text-center"></i>
                    <span class="fs-6">
                        Perangkat
                    </span>
                </button>
            </a>
        </div>
        <div class="col p-0 border-end border-secondary">
            <a href="/my/help" class="w-100">
                <button class="btn btn-outline-light border-0 rounded-0 w-100">
                    <i class="bi bi-book fs-1 d-block text-center"></i>
                    <span class="fs-6">
                        Bantuan
                    </span>
                </button>
            </a>
        </div>
        <div class="col p-0">
            <a href="/my/profile" class="w-100">
                <button class="btn btn-outline-light border-0 rounded-0 w-100">
                    <i class="bi bi-person fs-1 d-block text-center"></i>
                    <span class="fs-6">
                        Profil
                    </span>
                </button>
            </a>
        </div>
    </div>
</div>