<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="img-fluid me-2" src="https://warung.nofly.id/static/nofly_logo-removebg-preview.png" alt="" style="height:60px;filter:invert();">
        <span class="fs-4">NoFly</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column pf-nav-list mb-auto">
        <li>
            <a href="/my/dashboard" class="nav-link text-white hover-bg-con">
                <i class="bi bi-speedometer me-2"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="/my/devices" class="nav-link text-white hover-bg-con">
                <i class="bi bi-device-ssd me-2"></i>
                Perangkat
            </a>
        </li>
        <li>
            <a href="/my/profile" class="nav-link text-white hover-bg-con">
                <i class="bi bi-person me-2"></i>
                Profil
            </a>
        </li>
        <li>
            <a href="/my/help" class="nav-link text-white hover-bg-con">
                <i class="bi bi-question-square me-2"></i>
                Bantuan
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="32" height="32" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
            <strong id="user-name">mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/my/profile">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/auth/logout">Sign out</a></li>
        </ul>
    </div>
</div>