<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Help | NoFly</title>


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/upalette.css">
</head>

<body class="bg-ni-sh" style="height:100vh;">
    <div class="container p-0 bg-white h-100 shadow">
        <div class="row row-cols-1 m-0 h-100">
            <div class="col p-0 h-100">
                <div class="d-flex justify-content-start h-100 w-100">
                    <div class="d-none d-md-flex border-end border-ni-ri bg-dark h-100" style="min-width: 20%;">
                        {% include('user/components/nav.html') %}
                    </div>
                    <div class="flex-fill p-2 h-100" style="overflow-y: scroll;min-width: 10%; text-overflow: ellipsis;">
                        <div class="d-flex mb-2 justify-content-between align-items-center p-2 border-bottom border-ni-ri">
                            <span class="fs-5">
                                Pusat Bantuan
                            </span>
                            <a href="/my/about">
                                <button class="btn btn-primary py-1">
                                    <i class="bi bi-info-circle"></i> License Agreement
                                </button>
                            </a>
                        </div>
                        <div class="d-block p-2">
                            <div class="d-flex justify-content-between align-items-center px-2 bg-dark text-mu-ri rounded">
                                <span>
                                    <i class="bi bi-exclamation-triangle display-1"></i>
                                </span>
                                <span class="fs-5">
                                    Halaman ini masih dalam pengembangan
                                </span>
                                <span>
                                    <i class="bi bi-exclamation-triangle display-1"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d-flex flex-column p-2">
                            <textarea class="form-control bg-white border-0 px-0" readonly rows=10>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices varius tortor, ut rhoncus dolor pellentesque ut. Maecenas gravida feugiat blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ac egestas sapien. Nullam commodo tortor orci, eu aliquam dolor egestas a. Suspendisse eget hendrerit dui, id vehicula tellus. Suspendisse commodo urna eu leo viverra rhoncus. Sed sagittis, nisl id vulputate scelerisque, leo justo posuere massa, a imperdiet nulla velit eget arcu. Etiam blandit odio vel mauris tristique blandit. In maximus sit amet ligula eget commodo. Donec iaculis, felis sed dapibus rhoncus, nisi erat pretium justo, id vestibulum tortor massa at nulla. Proin faucibus dictum turpis a pretium. Fusce in semper massa. Vivamus varius at ligula in iaculis. Integer sed est massa. Nulla quam urna, molestie non feugiat id, fringilla ut sapien.
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include('user/components/nav-mobile.html') %}
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/user.js"></script>
<script>

</script>

</html>